* {
    font-family: "Times New Roman", serif;
    box-sizing: border-box;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #9c5151;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2e04aa;
    color: white;
  }
  /* Styling Sandwich Layers */
  .sandwich {
    background-color: #e1de17;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
  }
  .bread-top {
    background-color: #f8af6c;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
  }
  .lettuce {
    height: 25px;
    width: 50%;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
    }
  .cheese {
  height: 25px;
  width: 50%;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  }
  .meat {
    background-color: darkred;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
  }
  .tomato {
  height: 25px;
  width: 50%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  }
  .bread-bottom {
    background-color: #f8af6c;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
  }
  