<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>User Profile</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/arena">Arena</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</header>

<div class="profile-container">
    <div class="profile-picture">
        <!-- User profile picture will be displayed here -->
        <img src="{{user.img}}" alt="Profile Picture">
    </div>

    <div class="user-details">
        <!-- User details will be populated here -->
        <h2>User: {{user.username}}</h2>
        <p>Email: {{user.email}}</p>
        <p>Your ID is: {{user.id}} </p>
        <p>Location: Agadir, Morocco</p>
        <!-- Add more details as needed -->
    </div>
    <div class="badges">
        <!-- Display user badges and achievements here -->
        <h3>Badges & Achievements</h3>
        <ul>
            <li>Good Customer</li>
            <li>Customer of the year!</li>
            <!-- Add more badges as needed -->
        </ul>
    </div>

    <div class="feedback">
        <!-- Feedback section -->
        <h3>Feedback</h3>
        <!-- Add a form or display feedback/comments here -->
    </div>

    <div class="social-media-links">
        <!-- Social media links -->
        <h3>Connect with Me</h3>
        <ul>
            <li><a href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <!-- Add more social media links as needed -->
        </ul>
    </div>

</div>

<footer>
    <p>&copy; 2024 ASEDS INPT.</p>
</footer>

</body>
</html>
