<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Settings</title>
</head>
<body>

  <header>
    <nav class="navbar">
    
        <div class="container">
            
            <a href="#" class="navbar-brand">Settings</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/arena" class="nav-link">Arena</a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
  </header>


  <main>
    <h1>Settings</h1>

    <form id="settingsForm" class="settingsForm">
      <fieldset>
        <legend>Account Information</legend>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="passwordConfirmation">Confirm Password:</label>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation"><br>
      </fieldset>
      <button type="submit">Save Changes</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2024 ASEDS INPT</p>
  </footer>

</body>
</html>
