<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>User Profile</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/arena">Arena</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</header>

<div class="profile-container">
    
    <div class="action-container">

    {{#if error}}
    <h2>Action made:</h2>
    <div class="error"> {{error}} </div>
    {{/if}}

    {{#if success}}
    <h2>Action made:</h2>
    <div class="success"> {{success}} </div>
    {{/if}}

    </div>
    
    
    
    
    <h1>Settings</h1>




    <form id="settingsForm" class="user-details" action="/auth/modify-user" method="POST">
      <fieldset>
        <legend>Account Information</legend>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{user.username}}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{user.email}}"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="passwordConfirmation">Confirm Password:</label>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation"><br>

        <label for="profileimg">Insert a profile image:</label>
        <input type="file" id="profileimg" name="profileimg"><br>
      </fieldset>
      <button type="submit">Save Changes</button>
    </form>

</div>

<footer>
    <p>&copy; 2024 ASEDS INPT.</p>
</footer>

</body>
</html>

